.hobbies{
width: 100%;
}
.hobbies__title{
    
    text-align: center;
    

}
.hobbies__line{
    
    display: flex;

}
.hobbies__box{
    
    display:inherit;
    width: 100%;
    border-style: groove ;
    height: 90px;
    margin-left: 1rem;
    
    
    
}
.hobbies__img{
    
    display: inline-block;
    
}
.hobbies__name{
    font-size: 15px;
    text-align: left;
    margin: .5rem;
}